<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:320px;
    width:125px;
    float:left;
    padding:20px; 
    text-align:center;
}
#videoInfo{
    width:300px;
    float:left;
    padding:10px; 
    font-family: Garamond, serif;
    font-size: 16px;
}
#section {
    width:300px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
    font-size: large;
}
#pbMenu {
    display: inline-block;
    width: 150px;
    height: 225px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
textarea {
   font-size: 20pt;
   font-family: Serif;
} 
input#Start{
    background-color: red;
    font-size: 42;
}
input {
    font-family: Garamond, serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
</style>